body{
  background: linear-gradient(0deg, rgba(223,62,7,1) 0%, rgba(253,202,45,1) 6%, rgba(253,45,45,1) 100%);
    background-repeat: no-repeat;

}
.menu{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(90deg, rgba(250,152,40,1) 39%, rgba(241,224,28,1) 71%, rgba(253,29,29,1) 100%);
    text-align: center;
    border-radius: 4px;
    position: fixed;
    border: 2px solid black;
    z-index: 1000;
  

}.logo{
  text-decoration: none;
  text-align: center;
  padding-bottom: 5px;
 
}

  header{
    position: relative;
    background: linear-gradient(90deg, rgba(212,131,17,1) 26%, rgba(245,231,11,1) 54%, rgba(255,136,0,1) 100%);
    margin: 0px;
    padding: 0px;
    width: 99%;
    border: 1px solid black;
    border-radius: 5px;
    float: left;
    font-size: 20px;
    font-family: Arial;
    margin-bottom: 50%;
  
  }
  
  ul li{
    display: inline-flex;
  }
  
  ul li a:hover{
    font-size: 30px;
    transition: 0.3s;
    color:greenyellow;
  
  }
  ul li a{
    text-decoration: none;
    list-style: none;
    font-size:20px;
    color:black;
  }
  #card1{
    height: 600px;
    width: 500px;
    position: absolute;
    top: 20%;
    left: 10%;
    border-radius: 4px;
    background-image: url(https://img.freepik.com/fotos-gratis/textura-de-placas-de-madeira_1249-169.jpg?w=2000);
    background-size:100%;
  }
  #card2{
    height: 600px;
    width: 500px;
    position: absolute;
    top: 20%;
    left: 50%;
    border-radius: 4px;
    background-image: url(https://img.freepik.com/fotos-gratis/textura-de-placas-de-madeira_1249-169.jpg?w=2000);
    background-size:100%;
  }
  
  h1{
    text-decoration: none;
    list-style:none;
    color: black;
    
  }
 